---
ignore: |
  /.tox/
  /.venv/
  /.github/

extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  truthy:
    allowed-values: ["yes", "no", "true", "false", "True", "False"]
    level: error
  # Ansible line length is 160.
  line-length: {max: 160}
  # Disabled rules
  indentation: disable
  comments: disable
  comments-indentation: disable
